# This file follows a whitelist approach rather than a traditional blacklist one.
# In order for files to be tracked, they must be targeted explicitly.

# Ignore everything
*

# Files tracked everywhere
!.eslintrc.js
!.gitignore

# Root
!/.pnp.cjs
!/.prettierignore
!/.yarnrc.yml
!/LICENSE
!/README.md
!/babel.config.json
!/package.json
!/tsconfig.json
!/webpack.config.js
!/yarn.lock

# GitHub
!/.github
!/.github/workflows
!/.github/workflows/*.yml

# VSCode
!/.vscode
!/.vscode/extensions.json
!/.vscode/settings.json

# Yarn
!/.yarn
!/.yarn/patches
!/.yarn/patches/**/*
!/.yarn/plugins
!/.yarn/plugins/**/*
!/.yarn/releases
!/.yarn/releases/**/*
!/.yarn/sdks
!/.yarn/sdks/**/*
!/.yarn/versions
!/.yarn/versions/**/*

# Packages
!/packages
!/packages/*/
!/packages/*/LICENSE
!/packages/*/README.md
!/packages/*/index.js
!/packages/*/package.json
!/packages/*/src
!/packages/*/src/configs
!/packages/*/src/configs/*.ts
!/packages/*/src/index.ts
!/packages/*/src/index.test.ts
!/packages/*/src/rules
!/packages/*/src/rules/*.ts
